spring:
  profiles:
#    active: no-security  #   deactivate security
#    active: secure-mvc-basic  #  activate security for mvc scope and controllers
    active: secure-rest-basic  #  activate security for rest scope and controllers using basic authentication (username & password)
  security:
    user:
      name: a
      password: '{noop}a'

  main:
    banner-mode: console
  h2:
    console:
      path: /eshop_h2
      enabled: true
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:eshop_db
    username: sa
  sql:
    init:
      schema-locations: classpath:db/ddl-scripts.sql
      data-locations: classpath:db/dml-scripts.sql
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    lt:
      codeacademy:
        eshop:
          config: DEBUG
          product: INFO
          filter: TRACE
server:
  error:
    whitelabel:
      enabled: false
  servlet:
    session:
      # tracking mode will store/show session only in cookie
      tracking-modes: cookie
