<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/layout :: head(#{cart.title})}"></head>
<body>
    <nav th:replace="~{fragments/layout :: nav('cart')}">placeholder</nav>
    <main class="container">
        <h2 th:text="#{cart.title}">My Cart</h2>

        <table class="table table-dark table-hover">
            <thead>
            <tr th:with="curr=' (' + ${modelCurrencyAttr} + ')'">
                <th scope="col" th:text="#{cart.productName}">Product Name</th>
                <th scope="col" th:text="#{cart.unitPrice} + *{curr}">Unit Price</th>
                <th scope="col" th:text="#{cart.quantity}">Quantity</th>
                <th scope="col" th:text="#{cart.totalPrice} + *{curr}">Total Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem: ${cartSession.cartItems}">
                <td th:text="${cartItem.productDto.name}"></td>
                <td th:text="${cartItem.productDto.price}"></td>
                <td th:text="${cartItem.quantity}"></td>
                <td th:text="${cartItem.totalItemPrice}"></td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <strong th:text="${cartSession.cartTotalQuantity}"></strong>
                    </td>
                    <td>
                        <strong th:text="${cartSession.cartTotalPrice}"></strong>
                    </td>
                </tr>
            </tfoot>
        </table>

        <form method="POST">
            <button class="btn btn-primary" type="submit" th:text="#{cart.order}"></button>
        </form>
    </main>
    <footer th:replace="~{fragments/layout :: footer}">placeholder</footer>
</body>
</html>