<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="~{fragments/layout :: head('Redirect Example')}"></head>
<body>
    <main>
        <h1>Redirect Example</h1>
        <form method="post" th:object="${dtoExample}">
            <label>Name:</label>
            <input type="text" th:field="*{title}"><br/>
            <button type="submit">Test It</button>
        </form>
    </main>
    <footer th:replace="~{fragments/layout :: footer}">placeholder</footer>
</body>
</html>
