<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
</body>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th></th>  <!-- empty row for buttons (edit, delete, etc)-->
        </tr>
    </thead>
    <tbody>
        <tr th:each="product: ${productList}">
            <td th:text="${product.name}">a</td>
            <td th:text="${product.price}">a</td>
            <td th:text="${product.amount}">a</td>
            <td></td>
        </tr>
    </tbody>
</table>
</html>